extend base.pug

block style
    style
        include ../static/style.css
    style
        include ../static/student.css
        include ../static/responsive.css

block content
    body
        div#detail
            h1 Detail About Our School
            table(style='width:80%')
                tr
                    td.data Address / Location
                    td Azamgarh Koilsa Kauriya Mathhgobind Uttar Pradesh India 276141
                tr
                    td.data Block Name
                    td koilsa
                tr
                    td.data Number of institutional days(primary)
                    td 242
                tr
                    td.data Approachable by All-Weather Roads
                    td Yes
                tr
                    td.data CCE Curriculum
                    td Yes            
                tr
                    td.data Pupil Cumulative Records Maintained
                    td Yes
                tr
                    td.data School Management Committee (SMC)
                    td Yes
                tr
                    td.data School Development Plan by SMC
                    td No
                tr
                    td.data Record Maintained as per RTE
                    td Yes
                tr
                    td.data Text Books Received
                    td Yes            
                tr
                    td.data Mid-Day Meal
                    td Provided and prepared in school premises            
                tr
                    td.data Kitchen Devices Grant
                    td Yes
                tr
                    td.data COOK M
                    td 2
                tr
                    td.data No. of Male Teachers
                    td 3
                tr
                    td.data No. of Female Teachers
                    td 3
                tr
                    td.data School Building Type
                    td  Government Building
                tr
                    td.data Mid-Day Meal
                    td Provided and prepared in school premises            
                tr
                    td.data Kitchen Devices Grant
                    td Yes
                tr
                    td.data COOK M
                    td 2
                tr
                    td.data No. of Male Teachers
                    td 3
                tr
                    td.data No. of Female Teachers
                    td 3
                tr
                    td.data School Building Type
                    td  Government Building
                tr
                    td.data No. of Class Rooms
                    td 10            
                tr
                    td.data Computer Aided Learning
                    td No
                tr
                    td.data Separate Room for Head Teacher/ Principal
                    td Yes
                tr
                    td.data School Building Boundary Wall
                    td Pucca
                tr
                    td.data Books Library
                    td Yes
                tr
                    td.data Drinking Water Type
                    td  Yes
                tr
                    td.data Medical Check-Up
                    td Yes
                tr
                    td.data Disabled Friendly Ramp
                    td Yes
                tr
                    td.data Location Type
                    td Rural
                tr
                    td.data Medium of Instruction
                    td  Hindi
                tr
                    td.data DISTCRC
                    td 3
                tr
                    td.data Founded In Year
                    td 1995
                tr
                    td.data Pre-Primary Section
                    td No
                tr
                    td.data Residential School
                    td  No
                tr
                    td.data School Management
                    td  Department of Education
                tr
                    td.data School-type
                    td Co-Education
                