extends base.pug

block style
    style
        include ../static/style.css
    style
        include ../static/student.css
        include ../static/responsive.css

block content
    body
        table(style='width:50%')
            tr
                td.data Name              
                td Neeraj Kumar Singh
            tr
                td.data Qualification         
                td M.A.,B.P.Ed,S.B.T.C.
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 817281799234
            tr
                td.data Teacher I.D.
                td 6100020045013601
        
        table(style='width:50%')
            tr
                td.data Name
                td Santosh Kumar Singh
            tr
                td.data Qualification
                td M.A.,B.Ed.,S.B.T.C.
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 238680711443
            tr
                td.data Teacher I.D.
                td 6100020045017001           
                
        
        table(style='width:50%')
            tr
                td.data Name
                td Prashant Kumar Gupta
            tr
                td.data Qualification
                td M.A.,B.Ed.,S.B.T.C.,M.Phil
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 993845982768
            tr
                td.data Teacher I.D.
                td 6100020045013602                
        table(style='width:50%')
            tr
                td.data Name
                td Jyotsana Singh
            tr
                td.data Qualification
                td B.Sc.(Ag),B.T.C.
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 2686579100053603
            tr
                td.data Teacher I.D.
                td 610002004501                
        table(style='width:50%')
            tr
                td.data Name
                td Bebi Bharti
            tr
                td.data Qualification
                td M.A.,B.T.C.
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 757866918891
            tr
                td.data Teacher I.D.
                td 6100020045017002                
        table(style='width:50%')
            tr
                td.data Name
                td Mamata Yadav
            tr
                td.data Qualification
                td B.A.,B.T.C.
            tr
                td.data Contact
                td Jackson
            tr
                td.data Aadhar Number
                td 725408885393
            tr
                td.data Teacher I.D.
                td Jackson        