extends base.pug

block style
    style
        include ../static/style.css
    style
        include ../static/student.css
        include ../static/responsive.css


block content
    body
        div#details
            table(style='width:70%')
                tr
                    th Firstname
                    th Lastname
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson
                tr
                    td Jill
                    td Smith
                tr
                    td Eve
                    td Jackson