extends base.pug

block style
    style
        include ../static/style.css
        include ../static/responsive.css

block content
  body
    div#tg
      h1 Education is one thing
      h2 No one can take away 
    div.heading
      h1 Our Focus
    section#services
      .cont
        h2.head 
          | Quality Education
        img.images(src='../static/nikhita-s-NsPDiPFTp4c-unsplash.jpg' alt='')
        p.para
          | We aims at developing a balanced set of capabilities of children they 
          | require to become economically productive, develop sustainable livelihoods.
      .cont
        h2.head 
          | Physical Fitness
        img.images(src='../static/photo2/photo2.jpeg' alt='')
        p.para
          |Promate games as,
          |Play allows children to use their creativity while developing their imagination, dexterity
          |and physical, cognitive, and emotional strength.
      .cont
        h2.head 
          | Midday meal
        img.images(src='../static/photo2/photo3.jpeg' alt='')
        p.para
          | The belly rules the mind.
          | So don't make hunger to come between our study.
          | And let's make healthy and happy India  together.

    section#moral
      div#vision
        h2.head
          | Our Vision
        p.para
          | Our vision at Mathgovind Primary School is to empower students to acquire, 
          | demonstrate, articulate and value knowledge and skills that will support them,
          | as life-long learners, to participate in and contribute to the global world 
          | and practise the core values of the school: respect, tolerance and inclusion, and excellence.

      div#goal
        h2.head
          | Our Goal
        p.para
          | We provide the learner with opportunities to: acquire literacy,
          | numeracy, creativity and communication skills. enjoy learning and develop desire to
          | continue learning. develop ability for critical thinking and logical judgment.